NODE_ENV=dev
PORT=3000

# Frontend origin allowed by CORS
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb://localhost:27017/full_stack_node_technical_task

JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=1d
SALT_ROUNDS=10